:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  word-break: keep-all;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color:#999;
}

ul {
  list-style: none;
}

h1, h2, h3, h4{
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}

p{
  margin: 0.5rem 0;
}

.initial-hide{
  display: none;
}

/* Header */
header {
  width:100%;
  background: url(img/background.jpg) no-repeat center center/cover; 
  /* cover로 지정하면 이미지의 가로, 세로 길이 모두 요소보다 크다는 조건하에 가능한 배경 이미지를 작게 조정 */
  height: 85vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 7px solid #3d3d3d;
}

header::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: radial-gradient(circle,rgba(0,0,0, 0.7), rgba(0,0,0, 0.45));
  box-shadow: inset 0 50px 50px #000, inset 0 -50px 50px #000;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 90px;
  z-index: 2;
}

.header-top img{
  width: 155px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(40%, -50%);
}

.header-top a{
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 75%;
  margin: auto;
  z-index: 2;
}

.sign-up-email p {
  color:#fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 10px;
  text-align: center;
}

.email-form {
  display: flex;
  justify-content: center;
}

.sign-up-email input {
  width: 33rem;
  height: 4.5rem;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 1.1rem;
}  

.sign-up-email .btn{
  height: 4.5rem;
  margin: 0 2px;
}

/* Content */
.content-container {
  border-bottom: #3d3d3d 7px solid;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  max-width: 1300px;
  margin: auto;
}

.content-description {
  margin: 20px;
  padding: 20px;
  width: 55%;
}

.content-description p {
  width: 100%;
}

.content-img {
  max-width: 45%;
  margin-bottom: 20px;
}

.content-img > img{
  width:100%;
}

#content-2 .content-img {
  position: relative;
  margin-bottom: 120px;
}

#content-3 .content-img {
  position: relative;
}

#content-2 img{
  position: absolute;
}

#content-2 video{
  max-width: 73%;
  margin: 15% 13%;
}

#content-3 > img {
  z-index: 1;
}

.download-box {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 2;
  background-color: #000;
  border: #3d3d3d solid 3px;
  border-radius: 15px;
  padding: 3px 5px;
  min-width: 60%;
}

.download-box > div {
  margin: 3px;
  align-self: center;
}

.download-box p {
  text-align: left;
}
.download-box img{
  width: 50px;
}

#content-4 .content-img{
  position: relative;
  margin-bottom: 130px;
}

#content-4 .content-img img{
  position: absolute;
  top: 0;
}

#content-4 video{
  width: 62%;
  margin: 7% 18%;
}

/* FAQ */

.faq {
  border-bottom: #3d3d3d solid 7px;
  padding: 70px 30px;
}

.flex-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 800px;
}

.collapse button,
.collapse p{
  background-color: #3d3d3d;
  padding: 1.5rem 2rem;
  width: 100%;
  text-align: left;
}

.collapse button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-top: 7px;
}

.collapse button:focus{
  outline: none;
}

.collapse p {
  margin-top:3px;
  display: none;
  overflow: hidden;
}

.faq .sign-up-email{
  margin-top: 50px;
}

/* Footer */
footer{
  padding: 50px;
  padding-top: 50px;
  max-width: 1000px;
  margin: auto;
}

footer a {
  color: #999;
}

footer a:hover{
  text-decoration: underline;
}

#footer-list ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0;
}

#footer-list li {
  line-height: 2.5rem;
  font-size: 0.9rem;
}

.footer-text{
  font-size: 0.7rem;
  margin-top: 30px;
}

.language{
  width: 135px;
  position: relative;
}

.language-select-button {
  height: 3rem;
  padding: 0 15px;
  background-color: #000;
  border: #999 solid 1px;
  border-radius: 2px;
  color: #fff;
  font-size: 1.1rem;
}

.language-select-button span:first-child{
  padding-right: 13px;
}

.language-select-button span:last-child{
  font-size: 1.4rem;
}

#language-select-content {
  border: #999 solid 2px;
  background: #000;
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%
}

#language-select-content li {
  padding: 5px 22px 5px 55px;
  width: 100%;
  line-height: 1.1rem;
}

#language-select-content li:hover {
  background-color: #A888C4;
  color: #fff;
  text-decoration: none;
}

/* Buttons */
.btn {
  display: inline-block; 
  background-color: var(--primary-color);
  color:#fff;
  padding: 0.45rem 1.1rem;
  margin: 2px;
}

.btn-lg {
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
  min-width: 280px;
}

.btn-lg:hover{
  filter: brightness(110%);
}

.btn-rounded {
  border-radius: 3px;
}

.btn-icon {
  margin-left: 1rem;
}

/* Text Styles */
.text-xl {
  font-weight: 600;
  font-size: 4rem;
  padding: 10px;
  color: #fff;
}

.text-lg {
    font-weight: 600;
    font-size: 3rem;
    padding: 10px;
    color: #fff;
  }

.text-md {
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
}

.text-center {
  text-align: center;
}

.download-title {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.downloading-text {
  font-size: 0.8rem;
  color: #0071eb;
}

@media(max-width: 1450px){
  .text-xl {
  font-weight: 600;
  font-size: 3.1rem;
  padding: 10px;
  color: #fff;
  }

  .sign-up-email input {
  width: 29rem;
  height: 3.8rem;
  padding: 0 10px;
  border-radius: 3px;
  font-size: 1.1rem;
  }

  .sign-up-email .btn {
  height: 3.8rem;
  margin: 0 2px;
  text-align: center;
  }

  .btn-lg {
  padding: 0.5rem 1.25rem;
  font-size: 1.6rem;
  min-width: 190px;
  font-weight: 300;
  }

  .flex-container {
    width: 80%;
  }
}

@media(max-width: 950px) {
  .content {
    display: block;
    max-width: 100%;
  }

  .header-top img{
  width: 110px;
  }

  .initial-hide{
    display: block;
  }

  .later-hide {
    display: none;
  }
  
  .content-description {
    width: 95%;
    text-align: center;
    margin: 0;
  }
  
  .content-img {
    max-width: 90%;
    margin: auto;
  }

  .download-box {
    min-width: 70%;
  }

  .download-box img {
    width:80%;
  }

  .flex-container {
    width: 85%;
  }

  .collapse button,
  .collapse p{
    padding: 1rem 1.5rem;
  }

  .sign-up-email {
    width: 70%;
    margin:auto;
  }

  .email-form{
    flex-direction: column;
    align-items: center;
  }
  
  .sign-up-email .btn {
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 300;
    min-width: 0;
    height: 100%;
  }

  .text-lg {
    font-weight: 600;
    font-size: 2.5rem;
    padding: 10px;
    color: #fff;
  }

  .sign-up-email p{
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
  }

  .text-md{
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
  }  
}

@media(max-width: 750px) {
  .header-bottom,
  .content,
  .content-description,
  .content-img,
  .sign-up-email p{
    width: 100%;
  }

  .faq{
    padding: 70px 0;
  }

  .sign-up-email {
    width: 85%;
  }

  .content {
    padding: 10px;
  }
  
  .sign-up-email p{
    font-size: 1.1rem;
    margin: 5px 0;
  }

  .sign-up-email input {
  height: 3rem;
  }

  .btn {
    padding: 0.2rem 0.2rem;
    margin: 2px;
  }

  #footer-list ul{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 550px) {
  .text-xl {
  font-weight: 600;
  font-size: 2rem;
  padding: 10px;
  color: #fff;
  }

  header {
    height: 60vh;
  }

  .header-top {
    margin-bottom:30px;
  }

  .download-box img {
    width:90%;
  }
  
  .flex-container{
    width: 100%;
  }
  
  .text-lg {
    font-size: 1.8rem;
  }

  .text-md{
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
  }  
}

@media(max-width: 520px) {
  header {
    height: 80vh;
  }
  .sign-up-email input {
    height: 2rem;
    font-size: 0.9rem;
    width:20rem;
  }

  #footer-list ul{
    grid-template-columns: repeat(2, 1fr);
  }

  *{
    overflow: auto;
  }
}